.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    color: #0e060a;
    /* min-height: 400px; */
}
.footer{
    background-color: #13ce41;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    background: #9575CD;
    color:rgb(255, 240, 250)
}
.address{
    font-size: 80%;
    margin: 0px;
    color: #f01515;
}

